body{
    overflow-x: scroll;
}
#navbar{
    background-color:black;
    width: 20000px;
    margin-left: -7.8px;
    margin-top: -7.8px;
    top: 0;
    position: fixed;
    display: flex;
}
#navbarleft{
display: flex;
}
li{
    list-style-type: none; 
}
.amazon_logo{
    height: 29.5px;
    width: 100px;
    margin: 15px 0px 1px 10px;
    padding: 10px 7px 5px 7px;
    }
#navbar .amazon_logo:hover{
    outline: white 1px solid;
}
#navbar .select_address:hover, .signin_btn:hover, .returns_and_orders_btn:hover{
    outline: white 1px solid;
}
.select_address{
    display: flex;
    color: white;
    margin-left: 20px;
    height: 35.5px;
    margin-top: 17px;
    padding-bottom: 7px;
    font-weight: 300;
    font-size: 17px;
    width: 140px;
}
#navbarcenter{
    margin-left: 10px;
    margin-top: 16px;
    margin-right: 0px;
    width: fit-content;
    /* outline: 3px solid orange; */
    height: fit-content;
}
.catgeory_selector{
    height: 40px;
    width: 50px;
    outline: none;

}
.searchbar{
    margin-left: -4px;;
    width: 542px;
    height: 40px;
    outline: none;
}
.search_btn{
    margin-left: -4px;
    width: 44px;
    height: 38.9px;
    margin-bottom: -15.25px;
    outline: none;

}
.country_flag{
    margin-left: 30px;
    margin-right: 20px;
    width: 30px;
    height: 20px;
    margin-top: 26px;
}

.signin_btn{
    display: block;
    margin-left: 20px;
    margin-top: 15px;
}
.returns_and_orders_btn{
    display: block;
    margin-left: 30px;
    margin-top: 15px;
}
.shopping_cart{
    margin-left: 100px;
    margin-top: 10px;
    height:0px;
    width: 0px;
}